
@using Eticaret.MVCWebUI.Models
@model Eticaret.MVCWebUI.Models.Cart

<style>
    #cart {
        color: white;
    }
</style>

<ul class="navbar-nav  my-2 my-lg-0">
    <li id="cart" class="nav-item">
        <a href="/Cart">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            (@Model.Cardlines.Count)
        </a>
    </li>

</ul>